﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
    width:15%;
    height:90%;
    margin-top: 7px;
    margin-left: 10px;
}

.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.container-topo {
      background-color: green;
      height:150px;
  }

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

.navbar-greeny {
    background-color: darkgreen;
    color: #ffffff;
}

.navbar-greeny .navbar-brand {
  color: #ffffff;
}

.navbar-greeny .navbar-brand:hover,
.navbar-greeny .navbar-brand:focus {
  color: #ffffff;
  background-color: #08300f;
}

.navbar-greeny .navbar-text {
  color: #ffffff;
}

.navbar-greeny .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-greeny .navbar-nav > li > a:hover,
.navbar-greeny .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #08300f;
}

.navbar-greeny .navbar-nav > .active > a,
.navbar-greeny .navbar-nav > .active > a:hover,
.navbar-greeny .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #08300f;
}

.navbar-greeny .navbar-nav > .disabled > a,
.navbar-greeny .navbar-nav > .disabled > a:hover,
.navbar-greeny .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background-color: #08300f;
}

.navbar-greeny .navbar-toggle {
  border-color: #ffffff;
}

.navbar-greeny .navbar-toggle:hover,
.navbar-greeny .navbar-toggle:focus {
  background-color: #08300f;
}

.navbar-greeny .navbar-toggle .icon-bar {
  background-color:#08300f;
}

.navbar-greeny .navbar-collapse,
.navbar-greeny .navbar-form {
  border-color: #08300f;
}

.navbar-greeny .navbar-nav > .open > a,
.navbar-greeny .navbar-nav > .open > a:hover,
.navbar-greeny .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #08300f;
}

.navbar-greeny .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-greeny .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-greeny .navbar-nav > .dropdown > ul > li > a:hover {
    background-color: darkgreen;
}

.navbar-greeny .navbar-nav > .dropdown > ul{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-greeny .navbar-nav > .open > a .caret,
.navbar-greeny .navbar-nav > .open > a:hover .caret,
.navbar-greeny .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

/*Revisar*/

nav#menu {
   
}

    nav#menu ul {
        list-style: none;
        text-transform: uppercase;
    }

    nav#menu li {
        
        
        font-family: Arial,sans-serif;
        font-size: 7.5pt;
        font-weight: bold;
    }

    nav#menu h1 {
        display: none;
    }

    nav#menu a {
        color: green;
     
    }

        nav#menu a:hover {
            color: #E42220;
        }

section#galeria{
}

.galeria {
    width: 990px;
    height: 172px;
    overflow: hidden;
    position:relative;
    margin-top:-1.8%;
    left:2px;
}

.foto{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count:infinite;
}

.foto:nth-child(1){

}

.foto:nth-child(2) {
    animation-delay:5s;
}

@keyframes animacao{
    50%{
        opacity:1;
        transform:scale(1.1,1.1);
    }

    
}

#browse {
    width: 195px;
    margin: 0;
    padding: 0;
    background: white;
    border-bottom: 2px solid white;
}

    #browse dt {
        background: green bottom repeat-x;
        color: #fff;
        margin: -1px 2px;
        padding: 6px 0;
        text-align: center;
        font-weight: bold;
    }

    #browse dd {
        background: #8FBC8F;
        border-bottom: 1px solid green;
        padding: 0;
        margin: 0 2px;
    }

        #browse dd a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            display: block;
            padding: 3px 22px;
        }

    * html #browse dd {
        padding: 3px 22px;      
    }

        * html #browse dd a {
            display: inline;
        }

            #browse dd a:hover {
                background: #228B22;
            }

#bodyy {
    float:left;
    width: 755px;
    margin: 2px 1px 0 0;
    
}

#bodyy p {
	margin: 1em 0;
	padding: 0;
}

#bodyy .leftbox,
#bodyy .rightbox {
	margin-top: 5px;
	color: #464646;
}

#bodyy .leftbox {
	float: left;
	width: 250px;
}

#bodyy .rightbox {
	float: right;
	width: 252px;
	margin-right: 18px;
	border-left: 1px solid #e5e5e5;
}

* html #bodyy .rightbox {
	margin-right: 10px;
}

#bodyy .br {
	border-bottom: 1px solid #e5e5e5;
}

#bodyy .readmore {
	margin-top: -0.5em;
	margin-bottom: 0;
	padding-bottom: 0;
}

#bodyy .readmore a {
	color: #ad1c1c;
}

#bodyy .readmore a:hover {
	color: #f73838;
}

#bodyy h3 {
	text-align: center;
	font-family: "Keble Condensed", "KebleCondensed", "arial narrow", helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #5d5d5d;
	padding: 0 0 0 18px;
	margin: 1px 0 3px 0;
}

.left {
    float: left;
    margin: 1px 8px 0px 0px;
}

button.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient( top, #41e339 0%, #1fab2d);
    background: -webkit-gradient( linear, left top, left bottom, from(#41e339), to(#1fab2d));
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #237807;
    -moz-box-shadow: 0px 1px 3px rgba(135,84,135,0.6), inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(135,84,135,0.6), inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow: 0px 1px 3px rgba(135,84,135,0.6), inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow: 0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3);
}

section#corpo {
    display: block;
    position: relative;
    left:-26px;
    top:30px;
    width: 750px;
    height: 2960px;
    float: right;
    padding: 3px;
    margin-top: -25px;
  
}

section#paginaface {
    position: relative;
    float: left;
    left:2px;
}


iframe#iframe01 {
    margin: 0px;
    width: 750px;
    height: 635px;
    border: none;
    padding: 0px;
}

div#interface {
    display: block;
    background-color: #ffffff;
    width: 1015px;
    height: 3420px;
    margin: 20px auto auto auto;
    padding: 10px 10px 10px 10px;
}

iframe#iframe01 {
    margin: 0px;
    width: 750px;
    height: 635px;
    border: none;
    padding: 0px;
}

.divider {
    clear: both;
    border-bottom: 2px solid #CCC;
    margin: 10px 0px;
}

h1 {
    font-size: 1.8em;
    line-height: 1.8em;
    margin: 5px 0px;
    color:green;
}

/*Página Cooperflora*/
div#interface2 {
    display: block;
    background-color: #ffffff;
    width: 1015px;
    height: 2150px;
    margin: 20px auto auto auto;
    padding: 10px 10px 10px 10px;
}

section#corpoCooperflora {
    display: block;
    position: relative;
    left: -26px;
    top: 30px;
    width: 750px;
    height: 1020px;
    float: right;
    padding: 3px;
    margin-top: -25px;
}

section#etica {
    display: block;
    position: relative;
    background-color:#1b5b2a;
 
    width: 750px;
    height: 450px;
    top:30px; 
    padding: 3px;
    margin-top: -25px;
}

.fotos {
    width : 100%;
    margin-top: 0px;
}

.fotos > article,
.fotos > ul {
    width: 1200px;
}

ul#album-fotos {
    width: 1200px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

    ul#album-fotos li {
        float: left;
        width: 200px;
        height: 200px;
        margin: 50px;
        border: 5px solid black;
        background-color: #FFF;
        box-shadow: 1px 1px 3px rgba(0,0,0,.4);
        /*REFERENCIA DE COMPATIBILIDADE FONTE: http://www.w3schools.com/cssref/css3_pr_animation.asp */
        -webkit-transition: all .4s ease-in; /*Torna compatível com os navegadores Chrome 4.0, Safari 4.0 e Opera 15.0*/
        -moz-transition: all .4s ease-in; /*Torna compatível com o navegador Mozilla Firefox 5.0*/
        -o-transition: all .4s ease-in; /*Torna compatível com o navegadorOpera 12.0*/
        transition: all .4s ease-in; /*Torna compatível com os navegadores IE 10.0, Mozilla Firefox 16.0 e Opera 12.1*/
    }

        ul#album-fotos li span {
            opacity: 0;
            color: #FFF;
            text-shadow: 1px 1px 1px #000000;
            background-color: rgba(0,0,0,.4);
            font-size: 9pt;
            line-height: 370px;
            padding: 5px;
        }

        ul#album-fotos li:hover {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }

            ul#album-fotos li:hover span {
                opacity: 1;
            }

        ul#album-fotos li#foto01 {
            background: url(../Images/Galeria/galeria1.jpg) no-repeat;
            background-position: 50% 50%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto01:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

        ul#album-fotos li#foto02 {
            background: url(../Images/Galeria/galeria2.jpg) no-repeat;
            background-position: 50% 50%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto02:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

        ul#album-fotos li#foto03 {
            background: url(../Images/Galeria/galeria3.jpg) no-repeat;
            background-position: 50% 50%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto03:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

        ul#album-fotos li#foto04 {
            background: url(../Images/Galeria/galeria4.jpg) no-repeat;
            background-position: 25% 25%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto04:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

        ul#album-fotos li#foto05 {
            background: url(../Images/Galeria/galeria5.jpg) no-repeat;
            background-position: 25% 25%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto05:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

        ul#album-fotos li#foto06 {
            background: url(../Images/Galeria/galeria6.jpg) no-repeat;
            background-position: 50% 50%;
            background-size: 400px 400px;
            background-color: #FFF;
        }

            ul#album-fotos li#foto06:hover {
                background-position: 0px 0px;
                background-size: 200px 200px;
            }

/*Página ProjetoCooperflora*/
div#interface3 {
    display: block;
    background-color: #ffffff;
    width: 1015px;
    height: 850px;
    margin: 20px auto auto auto;
    padding: 10px 10px 10px 10px;
}

section#corpoProjetoCooperflora {
    display: block;
    position: relative;
    left: -26px;
    top: 30px;
    width: 750px;
    height: 520px;
    float: right;
    padding: 3px;
    margin-top: -25px;
}

.texto_justificado {
    color: #330033;
    text-align:justify;
    line-height: 1.5;
}

.texto_valores {
    color: white;
    text-align:center;
    line-height: normal;
}

.texto_valores > h3,
.texto_valores > h4 {
    line-height: 1.5;
}

.fale_conosco {
    height: 280px;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align:center;
    line-height: 1.5;
}

.fale_conosco > div#facebook {
    text-align : end;
}

.lista_configurar_cesta {
    text-decoration-line:underline;
    line-height: 1.5;
    list-style: none;
}

.link_configurar {
    color: green;
}