﻿
@{
    ViewBag.Title = "Configurar";
}

<h2>Configurações de Cesta</h2>

<ul class="lista_configurar_cesta">
    <li><h3>@Html.ActionLink("Disponibilizar Produtos Básicos", "DisponibilizarProdutos", "Cesta", new { @class = "link_configurar" })</h3></li>
    <li><h3>@Html.ActionLink("Disponibilizar Produtos Opcionais", "DisponibilizarOpcionais", "Cesta", new { @class = "link_configurar" })</h3></li>
    <li><h3>@Html.ActionLink("Definir Quantidades e Valores", "DefinirQuantidades", "Cesta", new { @class = "link_configurar" })</h3></li>
</ul>

