﻿@model EstrelaLivre.Entidades.ViewModels.DefinirViewModel

@{
    ViewBag.Title = "Definir Quantidades";
}

<h2>Definir Quantidades e Valores</h2>
<br />
<h4>&nbsp;&nbsp;&nbsp;&nbsp; Informe aqui as novas quantidades e o novo valor base e CONFIRME ABAIXO.</h4>
<br />
<br />
@using (Html.BeginForm("DefinirQuantidades", "Cesta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{   
    @Html.AntiForgeryToken()

    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.DisplayTextFor(m => Model.lista_alimentos[0].Descricao)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.quantidades[0], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.quantidades, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.DisplayTextFor(m => Model.lista_alimentos[1].Descricao)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.quantidades[1], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.quantidades, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.DisplayTextFor(m => Model.lista_alimentos[2].Descricao)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.quantidades[2], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.quantidades, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.DisplayTextFor(m => Model.lista_alimentos[3].Descricao)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.quantidades[3], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.quantidades, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.DisplayTextFor(m => Model.lista_alimentos[4].Descricao)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.quantidades[4], htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.quantidades, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 90px;">
        <div class="control-label col-md-2">
            @Html.LabelFor(m => Model.ValorAtual)
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => Model.ValorAtual, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => Model.ValorAtual, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" style="margin-left: 270px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Atualizar Valores" />
        </div>
    </div>
}

