﻿@model IEnumerable<EstrelaLivre.Entidades.Modelos.Produto>

@{
    ViewBag.Title = "DefinirCesta";
    int contador = Model.Count();
    int atualizador = 0;
}

<h2>Disponibilizar Produtos Básicos</h2>
<br />
<h4>&nbsp;&nbsp;&nbsp;&nbsp; Escolha aqui quais produtos devem estar disponíveis para aquisição</h4>
<br />
<br />
@while (contador > 0){
    @:<div class="row" style="align-content:center">
        foreach (var produto in Model)
        {
            @:<div class="col-md-4" style="text-align:center;">
                @:<h3 style="text-align:center">@produto.Nome</h3>
                if (produto.Disponivel)
                { 
                    @:<h5 class="text-success">(Disponível!)</h5>
                }
                @:<img width=" 150" height="150" src="@Url.Action("getProdImageById", "Admin", new {id = produto.ProdutoID })" alt="Imagem do Produto" />
                @:<br /><br /><br />
                @:<div>
                    using(Html.BeginForm("AlterarDisponibilidade", "Cesta", FormMethod.Post))
                    {
                        @:<input type="hidden" value="@produto.ProdutoID" name="id" id="id" />
                        @:<input type="hidden" value="Produto" name="tipo" id="tipo" />
                        if (produto.Disponivel) 
                        { 
                            @:<input type="submit" value="Esconder" class="btn btn-danger" />
                        }
                        else
                        {
                            @:<input type="submit" value="Disponibilizar" class="btn btn-success" />    
                        }
                    }
                @:</div>
            @:</div>
    
            contador -= 1;
            atualizador += 1;
            if (atualizador == 3){
                @:</div>
                @:<div class="row">
                @:<hr /> 
                atualizador = 0; 
            }
        }
    @:</div>
}

@Html.ActionLink("Retornar", "ConfigurarCesta", "Cesta")