﻿@model EstrelaLivre.Entidades.ViewModels.NovaCestaViewModel

@{
    ViewBag.Title = "Nova Cesta";
    int idCesta = 1;
    int contador_produtos = Model.produtos.Count();
    int contador_opcionais = Model.opcionais.Count();
    int atualizador = 0;
}

<h2>Produtos Básicos<br /></h2>

@while (contador_produtos > 0)
{
    @:<div class="row" style="align-content:center">
        foreach (var produto in Model.produtos)
        {
            @:<div class="col-md-4" style="text-align:center;">
                @:<h3 style="text-align:center">@produto.Nome</h3>
                @:<img width=" 150" height="150" src="@Url.Action("getProdImageById", "Admin", new {id = produto.ProdutoID })" alt="Imagem do Produto" />
                @:<br /><br />
                @:<h4 style="text-align:center"><b>Tipo de Alimento: </b>@produto.TipoAlimento.Descricao</h4>
                @:<h4 style="text-align:center"><b>Quantidade: </b>@produto.Quantidade @produto.UnidadeMedida</h4>
                @:<div>
                    using (Html.BeginForm("AdicionarAoCarrinho", "Cesta", FormMethod.Post))
                    {
                        @:<input type="hidden" value="@produto.ProdutoID" name="id" id="id" />
                        @:<input type="hidden" value="Produto" name="tipo" id="tipo" />
                        @:<input type="submit" value="Adicionar ao Carrinho" class="btn btn-success" />
                    }
                    @:</div>
                @:</div>


                    contador_produtos -= 1;
                    atualizador += 1;
                    if (atualizador == 3)
                    {
                        @:</div>
                        @:<div class="row">
                        @:<hr />
                atualizador = 0;
                    }
        }
        @:</div>
}

<h2><br /><br />Produtos Opcionais<br /></h2>

@while (contador_opcionais > 0)
{
    @:<div class="row" style="align-content:center">
        foreach (var opcional in Model.opcionais)
        {
            @:<div class="col-md-4" style="text-align:center;">
                @:<h3 style="text-align:center">@opcional.Nome</h3>
                @:<img width=" 150" height="150" src="@Url.Action("getOpicImageById", "Admin", new { id = opcional.OpcionalID })" alt="Imagem do Produto" />
                @:<br /><br />
                @:<h4 style="text-align:center"><b>Quantidade: </b>@opcional.Quantidade @opcional.UnidadeMedida</h4>
                @:<h4 style="text-align:center"><b>Valor: </b>R$ @opcional.Valor</h4>
                @:<div>
                    using (Html.BeginForm("AdicionarAoCarrinho", "Cesta", FormMethod.Post))
                    {
                        @:<input type="hidden" value="@opcional.OpcionalID" name="id" id="id" />
                        @:<input type="hidden" value="Opcional" name="tipo" id="tipo" />
                        @:<input type="submit" value="Adicionar ao Carrinho" class="btn btn-success" />
                    }
                    @:</div>
                @:</div>


                    contador_opcionais -= 1;
                    atualizador += 1;
                    if (atualizador == 3)
                    {
                        @:</div>
                        @:<div class="row">
                        @:<hr />
                atualizador = 0;
                    }
        }
        @:</div>
}

<br /><br />
@using (Html.BeginForm("IrParaCarrinho", "Cesta", FormMethod.Get))
{
    @:<input type="submit" value="Finalizar Compra" class="btn btn-success" />
}