﻿@model IEnumerable<EstrelaLivre.Entidades.ViewModels.RolesViewModel>
@{
    ViewBag.Title = "GerenciarAdministradores";
}

<h2>Gerenciar Permissões</h2>
<br />

<table class="table table-hover">
    <tr>
        <th style="font-size:20px;">
            Admnistradores
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.RoleName == "Administrador")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @using (Html.BeginForm("GerenciarAdministradores", "Admin", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="hidden" name="UserId" value="@item.UserID" />
                            <input type="hidden" name="UserRole" value="@item.RoleName" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Remover Privilégios" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    }
    <tr>
        <th style="font-size:20px;">
            Usuários
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.RoleName == "Usuario")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @using (Html.BeginForm("GerenciarAdministradores", "Admin", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="hidden" name="UserId" value="@item.UserID" />
                            <input type="hidden" name="UserRole" value="@item.RoleName" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Conceder Privilégios" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    }
</table>

