﻿@model IEnumerable<EstrelaLivre.Entidades.ViewModels.EmpresaViewModel>

@{
    ViewBag.Title = "Visualizar Empresas";
}

<h2>Visualizar Empresas</h2>
<br />

@if (ViewBag.Deleted != null && ViewBag.Deleted)
{
    <h3 class="text-success">Empresa Deletada com Sucesso.</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Empresa", "Edit", new { id = item.EmpresaID }, new { id = item.EmpresaID }) |
            @Html.ActionLink("Deletar", "Empresa", "Delete", new { id = item.EmpresaID }, new { id = item.EmpresaID })
        </td>
    </tr>
}

</table>
