﻿@model IEnumerable<EstrelaLivre.Entidades.ViewModels.VisualizarOpcionalVM>

@{
    ViewBag.Title = "Visualizar Opcionais";
}

<h2>Visualizar Opcionais</h2>
<br />

@if (ViewBag.Deleted != null && ViewBag.Deleted)
{
    <h3 class="text-success">Produto Deletado com Sucesso.</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAlimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadeVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </th>
        <th>
            @Html.DisplayName("Imagem")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAlimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoVenda)
            </td>
            <td>
                <img width="75" height="75" src="@Url.Action("getOpicImageById", "Admin", new {id = item.OpcionalID })" alt="Imagem do Produto" />
            </td>
            <td>
                @Html.ActionLink("Editar", "Opcional", "Edit", new { id = item.OpcionalID }, new { id = item.OpcionalID }) |
                @Html.ActionLink("Deletar", "Opcional", "Delete", new { id = item.OpcionalID }, new { id = item.OpcionalID })
            </td>
        </tr>
    }

</table>

