﻿@model IEnumerable<EstrelaLivre.Entidades.ViewModels.VisualizarProdutoVM>

@{
    ViewBag.Title = "Visualizar Produtos";
}

<h2>Visualizar Produtos</h2>
<br />

@if (ViewBag.Deleted != null && ViewBag.Deleted)
{
    <h3 class="text-success">Produto Deletado com Sucesso.</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAlimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadeVenda)
        </th>
        <th>
            @Html.DisplayName("Imagem")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAlimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadeVenda)
        </td>
        <td>
            <img width="75" height="75" src="@Url.Action("getProdImageById", "Admin", new {id = item.ProdutoID })" alt="Imagem do Produto" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Produto", "Edit", new { id = item.ProdutoID }, new { id = item.ProdutoID }) |
            @Html.ActionLink("Deletar", "Produto", "Delete", new { id = item.ProdutoID }, new { id = item.ProdutoID })
        </td>
    </tr>
}

</table>
