﻿<div id="Contato" style="height:100%;">
    <h1><br /></h1>
    <div class="divider"></div>
    <h1>Contato</h1>
    <div class="divider"></div>
    <br />
    <div class="row fale_conosco">
        <div class="col-md-4" style="height:100%">
            <h3>Venha nos Conhecer!</h3>
            <h5><br /></h5>
            <div id="map_canvas" style="width: 100%; height: 100%"></div>
            <script type="text/javascript">
                //variavel cria para que seja criado o mapa Google Maps
                var map = null;
                //Essa e a funcao que criara o mapa GoogleMaps
                function chamaMapa() {
                    //aqui vamos definir as coordenadas de latitude e longitude no qual
                    //sera exibido o nosso mapa
                    var latlng = new google.maps.LatLng(-22.688333, -47.226389); //DEFINE A LOCALIZAÇÃO EXATA DO MAPA
                    //aqui vamos configurar o mapa, como o zoom, o centro do mapa, etc
                    var myOptions = {
                        center: latlng,//aqui a nossa variavel constando latitude e longitude ja declarada acima
                        zoom: 15,//utilizaremos o zoom 15
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    //criando o mapa dentro da div com o id="map_canvas" que ja criamos
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                    //fazendo  a marcacao, usando o latitude e longitude da variavel criada acima
                    var marker = new google.maps.Marker({ position: latlng, map: map });

                    //DEFINE AS COORDENADAS do ponto exato - CENTRALIZAÇÃO DO MAPA
                    map.setCenter(latlng);//leva o mapa para a posicao da marcacao
                }
            </script>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBfWeqvaR_zAV-UEmzAfxVqbAxPrkdW81g&callback=chamaMapa" async defer></script>
        </div>
        <div class=" col-md-4">
            <h3>Fale Conosco!</h3>
            <h5><br /></h5>
            <h4>
                <b>Ariele:</b>&nbsp;&nbsp;&nbsp;&nbsp;(19) 99568-0046<br /><br />
                <b>Nathalia:</b>&nbsp;&nbsp;&nbsp;&nbsp;(19) 99188-8413<br /><br />
                <b>Osmar:</b>&nbsp;&nbsp;&nbsp;&nbsp;(19) 99449-9575<br /><br /><br />
                <b>E-mail:</b> suporte@@estrelalivre.com.br<br /><br />
                <b>Assentamento Milton Santos</b><br />
                <b>Estrada Usina Ester - S/N</b><br />
                <b>Americana - SP</b>
            </h4>
        </div>
        <div class="col-md-4" id="facebook">
            <h3>Visite a Nossa Página!</h3>
            <h5><br /></h5>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FCooperflora1&amp;width=190&amp;height=490&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=130658133800179" scrolling="no" frameborder="1" style="border:none; overflow:hidden; width:190px; height:490px;" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="divider"></div>
</div>
