﻿<div class="row" id="Cooperflora">
    <h1><br /></h1>
    <div class="divider"></div>
        <h1>A Cooperflora</h1>
    <div class="divider"></div>
    <br />
    <h3 style="color: green;">História</h3>
    <h4 class="texto_justificado">
        Constituída em novembro de 2015, a Cooperflora-Cooperativa da Agricultura Familiar de Americana, Cosmópolis, Limeira e Piracicaba tem por objetivo apoiar, fomentar e atuar na organização para distribuição e venda dos produtos dos agricultores familiares, assentados da reforma agrária nessa micro região.<br /> No Assentamento Milton Santos em Americana e Cosmópolis, no Assentamento Elizabeth Teixeira em Limeira e no futuro Assentamento Nelson Mandela em Piracicaba.
        Sem a organização de uma cooperativa, torna-se difícil ou quase impossível para o agricultor familiar escoar sua produção, seja através de projetos governamentais e privados ou através da venda direta, garantindo uma renda mínima para a sua sobrevivência e definitiva permanência na terra.<br />
        A Cooperflora tem também por objetivo trabalhar no planejamento da produção e na conscientização dos agricultores para a produção agroecológica e orgânica, respeitando assim o meio ambiente e principalmente a saúde dos seus consumidores. Nesse caminho, já foi dado importante passo, com a certificação orgânica por OCS (Organização de Controle Social), da maioria de seus produtores cooperados.
    </h4>
</div>
