﻿<div id="Galeria">
    <h1><br /></h1>
    <div class="divider"></div>
    <h1>Galeria de Fotos</h1>
    
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;Trabalho e dedicação nos acompanham em todos os momentos</h4>
    <div class="divider"></div>
    <div class="fotos">
        <article>
            <ul id="album-fotos">
                <li id="foto01"><span> Cestas Básicas</span></li>
                <li id="foto02"><span> Plantio Livre de Agrotóxicos </span></li>
                <li id="foto03"><span> Diversidade e Fratura </span></li>
                <li id="foto04"><span> Produtores Dedicados </span></li>
                <li id="foto05"><span> Consumidores Satisfeitos </span></li>
                <li id="foto06"><span> Trabalhadores Empoderados </span></li>
            </ul>
        </article>
    </div>
</div>
