﻿<div>
    <div class="divider"></div>
    <h4 style="color: green;text-align:center">70% dos alimentos do mundo vêm da<br /> agricultura familiar.</h4>
    <div class="divider"></div>
    <br />
    <section id="etica" style="width:100%">
        <div class="texto_valores">
            <h3>Missão</h3>
            <h4>
                Produzir alimentos nos preceitos da Agroecologia, com alto valor nutritivo  e preço justo<br />
                promover o desenvolvimentos social e econômico de nossos cooperados<br />
                proporcionar melhor qualidade de vida para a sociedade como um todo
            </h4>
            <h3>Visão</h3>
            <h4>Ser referência na produção de alimentos agroecólogicos</h4>
            <h3>Valores</h3>
            <h4>
                Respeito ao Meio Ambiente<br />
                Transformação Social<br />
                Solidariedade<br />
                Cooperação
            </h4>
        </div>
    </section>
    <h1><br /></h1>
</div>
