﻿<div class="row" id="EstrelaLivre">
    <h1><br /></h1>
    <div class="divider"></div>
    <h1>O Projeto Cestas Estrela Livre</h1>
    <div class="divider"></div>
    <br />
    <h3 style="color: green;">Grupo de Consumo</h3>
    <h4 class="texto_justificado">
        O grupo de consumo busca uma relação que vai além da relação clientelista entre produtores e consumidores. É uma alternativa ao regime de produção e distribuição de alimentos imposto pela cadeia de valor corporativa para melhor remunerar os agricultores familiares e adquirir alimentos de qualidade com preços justos.
        <br />Desta forma, também fomenta um modelo produtivo que preserva a terra ao invés de condená-la, fortalece a economia local e um sistema de distribuição simples e eficiente que evita o desperdício de alimentos.
    </h4>
    <br />

    <h3 style="color: green;">Mas como isso funciona?</h3>
    <h4 class="texto_justificado">
        Os produtores enviam uma lista com os produtos disponíveis que comporão uma cesta, a qual conterá em média 5 Kg de produtos. Entre eles estão: cereais, folhas, tubérculos, legumes, frutas e um produto elaborado (arroz, pimenta, pão e etc).
        Essa composição varia dependendo dos produtos disponíveis na época. Para que as cestas possam oferecer renda fixa para os produtores ao longo do ano e para garantir o preço aos consumidores é preciso compromisso entre as duas partes.
    </h4>
    <br />

    <h3 style="color: green;">Comercialização via Cesta</h3>
    <h4 class="texto_justificado">
        • Aproximação produtor e consumidor<br />
        • Relação de confiança<br />
        • Desenvolvimento econômico local de agricultores familiares<br />
        • Aproximação da relação campo e cidade<br />
        • Fortalecimento da agricultura familiar com preservação ambiental<br />
        • Preços justos para consumidores e ganhos reais para agricultores
    </h4>
</div>
