﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cestas<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Nova Cesta", "NovaCesta", "Cesta")</li>
                <li><a href="#">Cancelar Cesta</a></li>
                <li><a href="#">Minhas Cestas</a></li>
                @if (User.IsInRole("Administrador"))
                {
                    <li>@Html.ActionLink("Configurações", "ConfigurarCesta", "Cesta")</li>
                }
            </ul>
        </li>
        <li><a href="#A_Definir">Pagamento</a></li>

        @if (User.IsInRole("Administrador"))
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cadastrar Empresa", "CadastrarEmpresa", "Admin")</li>
                    <li>@Html.ActionLink("Visualizar Empresas", "VisualizarEmpresas", "Admin")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Produtos<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cadastrar Novo Produto", "CadastrarProduto", "Admin")</li>
                    <li>@Html.ActionLink("Cadastrar Novo Opcional", "CadastrarOpcional", "Admin")</li>
                    <li>@Html.ActionLink("Visualizar Produtos", "VisualizarProdutos", "Admin")</li>
                    <li>@Html.ActionLink("Visualizar Opcionais", "VisualizarOpcionais", "Admin")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Administradores", "GerenciarAdministradores", "Admin")</li>
            <li><a href="#A_Definir">Relatórios</a></li>

        }
    </ul>
}

else
{
    if (ViewBag.Indicator == "Home")
    {
        <ul class="nav navbar-nav">
            <li><a href="#Inicio">Início</a></li>
            <li><a href="#Cooperflora">A Cooperflora</a></li>
            <li><a href="#EstrelaLivre">O Projeto Cesta Estrela Livre</a></li>
            <li><a href="#Galeria">Galeria de Fotos</a></li>
            <li><a href="#Contato">Contato</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Início", "Index", "Home")</li>
        </ul>
    }
}
