﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Bloqueado.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada. Tente novamente mais tarde.</h2>
</hgroup>
