﻿@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>CESTAS ESTRELA LIVRE</h1>
    <p class="lead">Alimentando os trabalhadores com o que a terra tem de melhor!</p>
</div>
<h2><br /></h2>
<div class="slide">
    <section class="galeria" style="margin-left:70px">
        <img class="foto" src="~/Images/01.jpg" />
        <img class="foto" src="~/Images/02.jpg" />
    </section>
</div>

<div>
    @Html.Partial("PartialHome/_Inicio")
    <br />    
    @Html.Partial("PartialHome/_Cooperativa")
    <br />
    @Html.Partial("PartialHome/_ProjetoEstrelaLivre")
    <br />
    @Html.Partial("PartialHome/_Galeria")
    <br />
    @Html.Partial("PartialHome/_Contato")
</div>    



