﻿@{
    ViewBag.Title = "Email Confirmado!";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Agradecemos a sua confirmação! Por favor @Html.ActionLink("clique aqui", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })  para fazer login
    </p>
</div>
