﻿@{
    ViewBag.Title = "Pedido Enviado";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique seu e-mail para recupeação de senha.
    </p>
</div>
	
